* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr, form {
    display: flex;
}

body {
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
   
}

.btn-1 {
    background-color: var(--black-1);
    width           : 142px;
    height          : 49px;
    margin-top   : var(--space-20);
    margin-bottom   : var(--space-20);
    align-items     : center;
    justify-content : center;
    transition: all .4s ease-in-out;
    border-radius: 5px;
    
    &:hover{
        background-color: var(--green-1);
        transition: all .4s ease-in-out;
    }

    a {
        color          : var(--white);
        text-decoration: none;
        font-size      : 20px;
        padding        : 10px;
        padding-left   : 20px;
        padding-right  : 20px;
        cursor         : pointer;


    }
}

.btn-2{
    background-color: var(--black-3);
    width           : 142px;
    height          : 49px;
    align-items     : center;
    justify-content : center;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
    border-radius: 5px;
    &:hover{
        background-color: var(--green-1);
        transition: all .4s ease-in-out;
    }
    a{
    color: var(--white);
    text-decoration: none;  
    font-size: 14px;  
    }
}
@media(min-width:1920px){
    .btn-2{
        a{
            font-size: 16px;
        }
    }

}