#overlay-menu {
    position: fixed;             
    width: 100%;
    top: -1190px;
    height: 100%;  
    z-index: 4;
    background-color: var(--black-3);
    transition: all 1s ease-in-out;
    flex-direction: column; 
  

    > header {
        width: 100%;
        height: 100px;
        align-items: center;
        padding: var(--space-20);
       
    }
    nav {
        position: relative;
        flex-direction: column;
        align-items: center;  
        margin-top: 40px;
        left: -325px;
        height: 420px;
        transition: all .1s ease-in-out;
              
        ul{
            flex-direction: column;
            margin: 0;
            padding: 0;

            li {
                padding: 30px;
                justify-content: center;

              > a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 16px;
                    color: var(--white);
                    transition: all .3s ease-in-out;
                    cursor: pointer;
                    &:hover{
                        color: var(--gray-1);
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }

        .over-access{          
            position: relative;
            align-items: center;
            justify-content: center; 
            top: 30px;          
            a{
                font-size: 16px;
                font-weight: 300;
                text-decoration: none;
                color: var(--white); 
                padding: 4px; 
            }
    
        }

    }

    &.open{
        top: 0px;
        transition: all .5s ease-in-out;
        nav {
            left: 0px;
            transition: all 1.6s ease-in-out;
        }
        

      
    }

}

@media (min-width: 768px){

    #overlay-menu{
        transition: all 1.4s ease-in-out;
    
        nav{   
            left: -525px;    
            transition: all 0.2s ease-in-out;           
        }
          
        &.open{
            transition: all 0.5s ease-in-out;
            
            nav {
                transition: all 1.6s ease-in-out;
                 
            }
        }
    }

}

@media (min-width: 1024px){

    #overlay-menu{
        
        nav{   
            left: -725px;                    
        }          
      
    }

}

@media (min-width: 1025px){

    #overlay-menu{
        display: none;
    }

}