.section-one-home {
    flex-direction  : column;
    align-items     : center;
    text-align      : center;
    background-color: var(--white);

    .title {
        flex-direction: column;
        font-size     : 16px;
        color         : var(--gray-1);
        padding-top   : 10px;
        padding-bottom: 10px;

        h1 {
            margin : 0;
            padding: 0;
        }

        span {
            font-weight: bold;
        }

        >hr {
            border          : none;
            width           : 100px;
            height          : 2px;
            background-color: var(--gray-1);
            padding         : 0;

        }
    }


    .container {
        flex-direction: column;


        .service-one {
            position      : relative;
            flex-direction: column;
            align-items   : center;
            padding       : 5px;
            width         : 317px;
            height        : 530px;
            border        : 1px solid var(--gray-3);
            margin-bottom : var(--space-20);

            figure {
                width: 100%;

                picture {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            .circle {
                flex-direction  : column;
                background-color: var(--black-1);
                justify-content : center;
                align-items     : center;
                width           : 200px;
                height          : 200px;
                border-radius   : 50%;


                h2 {
                    margin        : 0;
                    padding       : 0;
                    text-transform: uppercase;
                    color         : var(--white);
                    font-weight   : bold;
                }

                p {
                    margin : 0;
                    padding: 0;
                    color  : var(--white);

                }

            }

            .description-service {
                position        : absolute;
                bottom          : 0;
                background-color: var(--black-1);

                p {
                    color: var(--white);
                }
            }
        }

        .service-two {
            position      : relative;
            flex-direction: column;
            align-items   : center;
            width         : 317px;
            height        : 530px;
            border        : 1px solid var(--gray-3);
            margin-bottom : var(--space-20);

            figure {
                width: 100%;

                picture {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            .circle {
                flex-direction  : column;
                background-color: var(--black-1);
                justify-content : center;
                align-items     : center;
                width           : 200px;
                height          : 200px;
                border-radius   : 50%;

                h2 {
                    margin        : 0;
                    padding       : 0;
                    text-transform: uppercase;
                    color         : var(--white);
                    font-weight   : bold;
                }

                p {
                    margin : 0;
                    padding: 0;
                    color  : var(--white);

                }

            }

            .description-service {
                position        : absolute;
                bottom          : 0;
                background-color: var(--black-1);

                p {
                    color: var(--white);
                }
            }
        }

        .service-tree {
            position      : relative;
            flex-direction: column;
            align-items   : center;
            width         : 317px;
            height        : 530px;
            border        : 1px solid var(--gray-3);
            margin-bottom : var(--space-20);

            figure {
                width: 100%;

                picture {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            .circle {
                flex-direction  : column;
                background-color: var(--black-1);
                justify-content : center;
                align-items     : center;
                width           : 200px;
                height          : 200px;
                border-radius   : 50%;

                h2 {
                    margin        : 0;
                    padding       : 0;
                    text-transform: uppercase;
                    color         : var(--white);
                    font-weight   : bold;
                }

                p {
                    margin : 0;
                    padding: 0;
                    color  : var(--white);

                }

            }

            .description-service {
                position        : absolute;
                bottom          : 0;
                background-color: var(--black-1);

                p {
                    color: var(--white);
                }
            }
        }

    }


}

@media(min-width: 1200px) {
    .section-one-home {
        .title {

            h1 {

                width: 100%;
            }
        }

        .container {
            flex-direction : row;
            width          : 100%;
            height         : 550px;
            padding-top    : var(--space-20);
            justify-content: space-around;
            .service-one{
                width: 350px;              
            }
            .service-two{
                width: 350px;  
            }
            .service-tree{
                width: 350px;  
            }
        }
    }

}

@media (min-width: 1366px) {
    .section-one-home {
        .container {
            height: 600px;
            .service-one{
                width: 370px;              
            }
            .service-two{
                width: 370px;  
            }
            .service-tree{
                width: 370px;  
            }
        }
    }

}

@media (min-width: 1920px) {
    .section-one-home {

        .container {
            justify-content: space-around;
            height         : 700px;
            
            .service-one{
                width: 550px; 
                height: 680px;  
                
                .description-service{
                    p{
                        font-size: 18px;
                    }
                }
            }
            .service-two{
                width: 550px;
                height: 680px; 
                .description-service{
                    p{
                        font-size: 18px;
                    }
                }  
            }
            .service-tree{
                width: 550px;
                height: 680px;  
                .description-service{
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }


}