.section-two-home{
    flex-direction: column;
    background-color: var(--white);
    align-items: center;
    .title{
        flex-direction: column;
        font-size     : 16px;
        color         : var(--gray-1);
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
       
        h1{
            margin: 0;
            padding: 0;
           
        }

        span {
            font-weight: bold;
        }

        >hr {
            border          : none;
            width           : 100px;
            height          : 2px;
            background-color: var(--gray-1);
            padding         : 0;

        }
    }
    .container{
        flex-direction: column;
        align-items: center;             
        margin-bottom: var(--space-30);
        article {
            text-align: justify;
            padding: 5px;
            color: var(--black-1);
           
        }
        .gallery{
           flex-direction: column;
            width: 95%;          
            margin-top: 1px;
            picture{
                padding: 2px;
            }
         figure{
             flex-direction: column;
             position: relative;
             width: 100%;
             margin: 0;   
           
             img{
                 width: 100%;                 
             }
             figcaption{
                position: absolute;
                background-color: var(--black-1);
                opacity: .9;              
                bottom: 10px;
                width: 150px;
                h2{
                    margin: 0;
                    padding: 0;
                    color: var(--white);
                    font-size: 16px;
                }
                p{
                    margin: 0;
                    padding: 0;
                    color: var(--white);
                    font-size: 14px;
                    
                }
             }
         }
        }        
    }
   
}

@media(min-width:1200px){
    .section-two-home{
        .container{
            article{
                width: 95%;
            }
            .gallery{
                flex-direction: row;
              picture{
                  padding: 2px;
              }
               figcaption{
                   margin-left: 2px;
                   h1{
                       font-size: 18px;
                   }
                   p{
                       font-size: 16px;
                   }
               }
            
            }
           
        }
    }

}
@media(min-width:1366px) {
.section-two-home{
    .title{
       
        h1{
            width: 100%;
        }
    }
    .container{
      
        .gallery{
         
            figure{
                flex-direction: row;
                
            }
        }
    }
}
}
@media(min-width:1920px) {
    .section-two-home{
        .container{
          
        article{
           p{
               font-size: 20px;
           }
          
        }
       .gallery{
           figure{
               figcaption{
                   width: 200px;                   
               }
           }
       }
           
        }
    }
    }
