.result-schedules{
    background-color: var(--black-1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 190px);
    .details{
        width: 90%;
        height: 100px;
        background-color: var(--yellow-1);
        justify-content: center;
        align-items: center;
        p{
            text-align: center;
            color: var(--black-1);
            font-weight: bold;
        }
    }
    p{
        text-align: center;
        color: var(--white);
    }
}
@media(min-width: 1200px){
    .result-schedules{
        .details{
            width: 30%;
        }
    }
}
@media(min-width: 1440px){
    .result-schedules{
        p{
            font-size: 22px;
        }
        .details{
            width: 50%;
            height: 130px;
            p{
                font-size: 22px;
            }
        }
    }
}
@media(min-width: 1920px){
    .result-schedules{
        .details{
            width: 30%;
        }
    }
}