:root{
    --black-1:#3B3B3B;
    --black-2:#444444;
    --black-3:#4D4D4D;
    --gray-1:#828282;
    --green-1:#34A853;
    --blue-1:#4184F3;
    --yellow-1:#FBBC04;   
    --red:#EA4335;
    --white:#ffffff;

    /*Spaces*/
    --space-20:20px;
    --space-30:30px;
}